{% extends 'base.html.twig' %}

{% block title %}{{ evenement.nom }}{% endblock %}

{% block body %}
    <h1>{{ evenement.nom }}</h1>

    {% if date(evenement.dateDebut|date_modify("+1 day")) < date() %}
        <h4 class="font-weight-bold text-danger text-center my-4">
            <i class="fa fa-exclamation mr-2"></i> Cet événement a déjà eu lieu <i class="fa fa-exclamation ml-2"></i>
        </h4>
    {% endif %}

    {% if is_granted('ROLE_ADMIN') %}
        <div class="d-flex justify-content-center mt-3">
            {% if evenement.inscriptionPossible == true %}
                <a href="{{ path('evenement_participants', {'slug': evenement.slug}) }}" class="btn btn-danger mr-2">
                    <i class="fa fa-users"></i> Participants
                </a>
            {% endif %}

            <a href="{{ path('evenement_edit', {'slug': evenement.slug}) }}" class="btn btn-danger mr-2">
                <i class="far fa-edit"></i> Modifier
            </a>

            {{ include('evenement/_delete_form.html.twig') }}
        </div>
    {% endif %}

    <div class="py-4">
        <p class="dateEvenement d-inline mr-3">
            <i class="far fa-clock"></i>
            Le {{ evenement.dateDebut ? evenement.dateDebut|localizeddate("none", "none", "fr", null, "cccc d MMMM Y") : '' }}
            à {{ evenement.heureDebut ? evenement.heureDebut|localizeddate("none", "none", "fr", null, "HH'h'mm") : '' }}
        </p>
        <p class="villeEvenement d-inline mr-3">
            <i class="far fa-building"></i>
            {{ evenement.lieu }}
        </p>
        {% if evenement.roleMinimum == 'ROLE_PRIVE' %}
        <span class="badge badge-danger">Événement privé</span>
        {% endif %}<br>
    </div>

    {% if is_granted('ROLE_PRIVE') %}
        {% if inscription.nbAdultes > 0 and evenement.inscriptionPossible == true %}
            <p class="text-success mb-3">
                Vous êtes inscrit à cet événement pour <b>{{ inscription.nbAdultes }}</b>
                adulte(s){% if inscription.nbEnfants > 0 %} et <b>{{ inscription.nbEnfants }}</b> moins de 12 ans{% endif %}.
            </p>
        {% endif %}
    {% endif %}

    <div class="pb-4">
        {{ evenement.teaser|nl2br }}
    </div>

    <div class="pb-4 descriptionEvenement">
        {{ evenement.description|raw }}
    </div>

    {% if is_granted('ROLE_PRIVE') and evenement.inscriptionPossible == true %}
        <h2 class="mt-4">
            {% if inscription.nbAdultes > 0 %}Modifier votre inscription{% else %}S'inscrire{% endif %}
            à {{ evenement.nom }}
        </h2>
        {% if date(evenement.dateLimiteInscription|date_modify("+1 day")) >= date() %}
            <p class="text-20 text-bleu">Vous avez jusqu'au
                {{ evenement.dateLimiteInscription ? evenement.dateLimiteInscription|localizeddate("none", "none", "fr", null, "cccc d MMMM Y") : evenement.dateDebut|localizeddate("none", "none", "fr", null, "cccc d MMMM Y") }}
                pour {% if inscription.nbAdultes > 0 %}modifier votre inscription{% else %}vous inscrire{% endif %}.
            </p>
            {{ form_start(form, {'attr': {'id': 'formInscriptionEvenement'}}) }}
            <div class="row">
                <div class="col">
                    {{ form_row(form.nbAdultes) }}
                </div>
                <div class="col">
                    {{ form_row(form.nbEnfants) }}
                </div>
            </div>
            {{ form_row(form.commentaires) }}
            {{ form_end(form) }}
            <div class="d-flex justify-content-center">
                {% if inscription.nbAdultes > 0 %}
                    <button onclick="document.getElementById('formInscriptionEvenement').submit()"
                            class="btn btn-danger mr-3">
                        Modifier votre inscription
                    </button>
                    {% if inscription.nbAdultes > 0 %}
                        {{ include('evenement/_delete_inscription_form.html.twig') }}
                    {% endif %}
                {% else %}
                    <button onclick="document.getElementById('formInscriptionEvenement').submit()"
                            class="btn btn-danger">
                        Valider votre inscription
                    </button>
                {% endif %}
            </div>
        {% else %}
            <p class="text-20 text-bleu">Les inscriptions sont terminées. Vous aviez jusqu'au
                {{ evenement.dateLimiteInscription ? evenement.dateLimiteInscription|localizeddate("none", "none", "fr", null, "cccc d MMMM Y.") : evenement.dateDebut|localizeddate("none", "none", "fr", null, "cccc d MMMM Y.") }}
                <br>
                <small>Vous ne pouvez plus vous inscrire ou modifier votre inscription.</small>
            </p>
        {% endif %}
    {% endif %}

{% endblock %}