<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{% block title %}{% endblock %} - Sapeurs-Pompiers de Saint Julien de Concelles</title>
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('css/fontawesome-all.css') }}">
    <link rel="stylesheet" href="{{ asset('css/main.css') }}">
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/png" href="{{ asset('images/favicon.png') }}">
</head>
<body class="bg-dark">

<div class="container-fluid border-bottom border-danger bg-white">
    <div class="container">
        <div class="row">
            <div class="col-6 p-0">
                <a href="{{ path('accueil') }}">
                    <img src="{{ asset('images/logo_cis_couleur.png') }}" alt="CIS Saint Julien de Concelles"
                         class="logoCentre img-fluid">
                </a>
            </div>
            <div class="col-6 p-0 text-right d-table-cell align-middle" style="line-height: 94px">
                {#<div class=" ml-0">#}
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <p class="d-inline align-middle">Bienvenue, {{ app.user.prenom }} !</p>
                    <a href="#" class="btn btn-outline-danger ml-2 align-middle">
                        <i class="fa fa-cog"></i>
                        Mon compte
                    </a>
                    <a href="{{ path('deconnexion') }}" class="btn btn-danger align-middle">
                        <i class="fa fa-sign-out-alt"></i>
                        Déconnexion
                    </a>
                {% else %}
                    <a href="{{ path('connexion') }}" class="btn btn-outline-danger align-middle">
                        <i class="fa fa-user"></i>
                        Connexion
                    </a>
                    <a href="{{ path('inscription') }}" class="btn btn-danger align-middle">
                        <i class="fa fa-user-plus"></i>
                        Inscription
                    </a>
                {% endif %}
                {#</div>#}
            </div>
        </div>
        {#MENU#}
        <div class="navbar text-uppercase">
            <a href="{{ path('accueil') }}" class="lienMenu p-2">Accueil</a>
            <a href="{{ path('articles') }}" class="lienMenu p-2">Actualité</a>
            <a href="{{ path('evenement_index') }}" class="lienMenu p-2">&Eacute;vénements</a>
            <a href="{{ path('recrutement') }}" class="lienMenu p-2">Nous rejoindre</a>
            <a href="{{ path('leCentre') }}" class="lienMenu p-2">Le centre</a>
            <a href="{{ path('contact') }}" class="lienMenu p-2">Contact</a>
        </div>
    </div>
</div>

<div class="container-fluid bg-white contenu">
    <div class="container py-4 containerPrincipal">
        {% block body %}{% endblock %}
    </div>
</div>

{% for message in app.flashes('error') %}
    <div class="alert alert-danger alerteFixed">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endfor %}

{% for message in app.flashes('success') %}
    <div class="alert alert-success alerteFixed">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endfor %}

<div class="container-fluid d-none d-md-block piedDePage">
    <div class="container">
        <div class="row text-center py-3">
            <div class="col-12 col-md-6">
                <h5 class="text-uppercase font-weight-bold">Nous rejoindre</h5>
                <p>Nous recherchons continuellement des Sapeurs-Pompiers Volontaires entre 16
                    et 60 ans pour renforcer nos rangs&nbsp;!</p>
                <a href="{{ path('recrutement') }}" class="lienRecrutementCIS">
                    <div class="recrutementCIS">
                        Plus d'informations
                    </div>
                </a>
            </div>
            <div class="col-12 col-md-6">
                <h5 class="text-uppercase font-weight-bold text-center">Réseaux sociaux</h5>
                <p>Retrouvez l'actualité des Sapeurs-Pompiers de Saint Julien de Concelles sur Facebook !</p>
                <a href="https://www.facebook.com/Sapeurs-pompiers-de-Saint-Julien-de-Concelles-994529640570249/"
                   class="lienFacebookCIS" target="_blank">
                    <div class="facebookCIS">
                        Sapeurs-Pompiers de<br>Saint Julien de Concelles
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid d-none d-md-block border-top border-danger">
    <div class="container py-3">
        <div class="row text-center">
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('administration') }}" class="col text-white">
                    Administration
                </a>
            {% endif %}
            <a href="http://www.sdis44.fr/" target="_blank" class="col text-white">
                SDIS 44
            </a>
            <a href="#" class="col text-white">
                Mentions légales
            </a>
            <a href="#" class="col text-white">
                Plan du site
            </a>
            <a href="#" class="col text-white">
                Aide
            </a>
        </div>
    </div>
</div>
<div class="container-fluid d-none d-md-block border-top border-danger piedDePage">
    <div class="container py-3">
        <div class="row text-center">
            <div class="col">
                &copy; CIS Saint Julien de Concelles - {{ "now"|date("Y") }}
            </div>
        </div>
    </div>
</div>
<script src="{{ asset('js/jquery.js') }}"></script>
<script src="{{ asset('js/bootstrap.js') }}"></script>
<script src="{{ asset('ckeditor/ckeditor.js') }}"></script>
{% block javascripts %}{% endblock %}
<script src="{{ asset('js/main.js') }}"></script>
</body>
</html>
