{% extends 'base.html.twig' %}

{% block title %}Actualité{% endblock %}

{% block body %}
<h1>Actualité du centre</h1>
{% if is_granted('ROLE_ADMIN') %}
  <div class="adminArticles text-center">
    <a class="btn btn-danger" href="{{ path('nouvelArticle') }}"><i class="fa fa-plus"></i> Nouvel article</a>
  </div>
{% endif %}
{% for article in articles %}
<div class="row mt-3">
  <div class="col-3 p-2">
    <a href="{{ path('voirArticle', { url: article.url }) }}"><img src="{{ asset('uploads/articles/miniatures/') }}{{ article.miniature }}" alt="Miniature" class="img-fluid rounded imageArticle"></a>
  </div>
  <div class="col-9 py-2">
    <a class="lienArticle" href="{{ path('voirArticle', { url: article.url }) }}"><h4>{{ article.titre }}</h4></a>
    <p class="small text-bleu mb-2">Il y a {{ article.dateModif|time_ago }}, par {{ article.auteur.prenom }}.</p>
    <p class="text-dark d-none d-lg-block">{{ article.description }}</p>
  </div>
</div>
{% endfor %}
{% endblock %}
