{% extends 'base.html.twig' %}

{% block title %}Modifier l'article {{article.titre}}{% endblock %}

{% block body %}
  <h1 class="mb-4">Modifier un article</h1>
  {{ form_start(form, {'attr': {'id': 'redactionArticle'}}) }}
  <div class="form-group row">
    {{ form_label(form.titre) }}
    <div class="col-sm-10">
      {{ form_widget(form.titre) }}
    </div>
  </div>
  <div class="form-group row">
    {{ form_label(form.description) }}
    <div class="col-sm-10">
      {{ form_widget(form.description) }}
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label align-middle d-inline">Miniature de l'article</label>
    <div class="col-sm-8 align-middle d-inline">
      <div class="custom-file">
        {{ form_widget(form.miniature) }}
        {{ form_label(form.miniature) }}
      </div>
      <small class="form-text text-muted">L'image doit être au format JPG</small>
    </div>
    <div class="col-sm-2 align-middle d-inline">
      <img class="img-fluid rounded" id="apercuMiniature" src="{{ asset('uploads/articles/miniatures/' ~ article.miniature) }}">
    </div>
  </div>
  <div class="form-group row">
    {{ form_label(form.contenu) }}
  </div>
  <div class="form-group">
    {{ form_widget(form.contenu) }}
  </div>
  <input type="submit" class="btn btn-danger d-block m-auto" name="publier" value="Modifier l'article">
  {{ form_end(form) }}
  <div class="modal fade" id="modalAjoutImage" tabindex="-1" role="dialog" aria-labelledby="modalAjoutImageLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-danger" id="modalAjoutImageLabel">Importer une image</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form id="formImportImage" method="post">
          <div class="modal-body">
            <div class="custom-file">
              <input type="file" name="imageUpload" id="imageUpload" class="custom-file-input" accept="image/jpeg, image/x-png, image/gif">
              <label for="imageUpload" class="custom-file-label" id="labelImageUpload">Choisissez une image</label>
              <small class="form-text text-muted">L'image doit être au format JPG, PNG ou GIF.</small>
            </div>
            <img class="img-fluid rounded d-block m-auto" style="height:120px;" id="apercuImageUpload">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
            <input type="submit" class="btn btn-danger" value="Importer l'image">
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
