{% extends 'base.html.twig' %}

{% block title %}{{ article.titre }}{% endblock %}

{% block body %}
    <h1 class="mb-4">{{ article.titre }}</h1>
    {% if is_granted('ROLE_ADMIN') %}
        <div class="adminArticles text-center my-3">
            <a class="btn btn-danger mr-3" href="{{ path('modifierArticle', {"url": article.url}) }}">
                <i class="fa fa-edit"></i> Modifier
            </a>
            {{ include('article/_delete_form.html.twig') }}
        </div>
    {% endif %}
    <div class="row">
        <div class="col-4">
            <img src="{{ asset('uploads/articles/miniatures/') }}{{ article.miniature }}" alt="Miniature"
                 class="img-fluid rounded">
        </div>
        <div class="col-8">
            <p class="text-bleu">
                Le {{ article.dateModif|localizeddate("none", "none", "fr", null, "d MMMM Y 'à' HH'h'mm") }},
                par {{ article.auteur.prenom }}.</p>
            <p>{{ article.description }}</p>
        </div>
    </div>
    <p>{{ article.contenu|raw }}</p>

    <div id="imageModale" class="imageModale">
        <span class="closeImageModale" onclick="$(this).parent().hide()">&times;</span>
        <img class="imgImageModale" id="imgImageModale">
    </div>
{% endblock %}
